*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(140deg, #b46b75, #a65a7a, #8e4e82, #6c478a, #34448f);
}

.form {
    background-color: rgba(255, 255, 255, 0.473);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 40px;
    text-align: center;
    gap: 20px;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(27, 27, 27);
}

input{
    background-color: rgba(0, 0, 0, 0.095);
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
    margin: 10px 0px;

}

.form div{
    display: flex;
    flex-direction: column;
    width: 220px;
}

/* .name{
    gap: 10px;
    margin: 15px;
    height: 50px;
}
.email{
    gap: 10px;
    margin: 15px;
    height: 50px;
}

.password{
    gap: 10px;
    margin: 15px;
    height: 50px;
} */

span{
    color: rgb(255, 95, 95);
    font-size: small;
}

button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(75, 103, 243);
}


h3{
    color: green;
}